#favBody #navigation a:hover:not(#fav){
    background-color: rgb(80, 156, 133);
}

#favBody #navigation_mobile a:hover:not(#fav){
    background-color: rgb(80, 156, 133);
}


#favBody #navigation ul li:nth-child(4) { 
    background-color: rgb(255, 0, 0);
}

#favBody #navigation_mobile ul li:nth-child(4) { 
    background-color: rgb(255, 0, 0);
}


/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}