#favBody #navigation a:hover:not(#fav){
    background-color: rgb(80, 156, 133);
}

#favBody #navigation_mobile a:hover:not(#fav){
    background-color: rgb(80, 156, 133);
}


#favBody #navigation ul li:nth-child(4) { 
    background-color: rgb(255, 0, 0);
}

#favBody #navigation_mobile ul li:nth-child(4) { 
    background-color: rgb(255, 0, 0);
}

#navigation{grid-area: top;}
#navigation_mobile{grid-area: top;}
#favs_panel{ grid-area: bottom; }

#favBody {
  display: grid;
  grid-template-areas:
    'top top top top'
    'bottom bottom bottom bottom';
  grid-gap: 40px;
  background-color: black;
  color: white;
  padding: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

#favs_panel{

}

#favs_panel a{
    text-decoration: none;
    color: white;
}

#favs_panel a:hover{

    color: rgb(80, 156, 133);
}

#fav_heading{
     margin-left: 30%;
}
#p_image{
    display: inline-block;
    padding:2%;
    margin-left: 1%;


}

#p_image img{
    border-radius: 10px;
box-shadow: 0 4px 8px 0 red, 0 6px 20px 0 rgb(80, 156, 133);
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#p_image img:hover{
    	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	filter:opacity(60%);
}

#title{
    display: inline-block;
    padding:2%;
    position: relative;
    top:-50px;
    text-align: center;
}



#artist{
    display: inline-block;
    padding:2%;
    position: relative;
    top:-50px;
    text-align: center;
}

#year{
    display: inline-block;
    padding:2%;
    position: relative;
    top:-50px;
    text-align: center;
}

#remove{
    display: inline-block;
    padding:2%;
    position: relative;
    top:-40px;
    text-align: center;
}

#remove img{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	width:25px;
}

#remove img:hover{
    cursor: pointer;
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
	filter:opacity(60%);
}

#removeAll{
    margin-left: 30%;
    display: inline;
}

#removeAll img{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	width:30px;
}

#removeAll img:hover{
    cursor: pointer;
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
	filter:opacity(60%);
}

#removeAll p{
    
    display: inline;
    position: relative;
    top:-10px;
}

.caption{
  border-radius: 20px;
  background-color: rgba(0, 204,204, 0.1);
  position: relative;
  bottom: -10px;
  font-size: 10pt;
}



/*smartphone / tablet look*/
@media only screen and (max-width: 600px) {
    #fav_heading{
     margin-left: 20%;
}
#p_image{
    padding:1%;
    margin-left: 0%;
    width:60px;

}

#p_image img{
    width:80px;
   
}

#title{
    margin-left: 3%;
     top:-30px;
     font-size: 8pt;

}

#artist{
padding:1%;
top:-30px;
font-size: 8pt;
}

#year{
padding:1%;
top:-30px;
font-size: 8pt;
}

#remove{
padding:1%;
top:-20px;
font-size: 8pt;
}

#remove img{
    width:20px;
}
}