#homebody #navigation a:hover:not(#index){
    background-color: rgb(80, 156, 133);
}

#homebody #navigation ul li:nth-child(2) { 
    background-color: rgb(255, 0, 0);
}

#navigation{grid-area: top;}
#navigation_mobile{grid-area: top;}
#galleryList_panel{ grid-area: left; }
#artist_panel { grid-area: middle-top; }
#genre_panel{grid-area: middle-bottom;}

#homebody {
  display: grid;
  grid-template-areas:
    'top top top top'
    'left middle-top middle-top middle-top'
    'left middle-bottom middle-bottom middle-bottom';
  grid-gap: 40px;
  background-color: black;
  color: white;
  padding: 10px;
  position: fixed;
}
/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

#galleryList_panel ul{
    list-style-type: none;
}

#galleryList_panel h3{
    position: fixed;
    margin-top:10px;
    left: 3%;
    font-size: 25pt;
    }


#galleryList_panel{
    width: 230px;
    height: 500px;
}

#galleryList_panel ul{

    margin-top: 60px;
    height: 440px;
    width: 210px;
    overflow-y: auto;
    overflow-x: hidden;
}

#galleryList_panel ul li{
    padding-top:5px; 
}

#galleryList_panel ul li:hover{
    cursor: pointer;
    color: rgb(80, 156, 133);
}

#artist_panel{
    width: auto;
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}



#artist_panel h3{
position: fixed;
margin-top:10px;
left: 55%;
font-size: 25pt;
}


.artist_box {
    display: inline-block;
    width: 170px;
    height: 140px;
    padding: 2%;
    text-align: center;
    position: relative;
    top:60px;
}

.artist_box img {
    filter: sepia(1);
    border-radius: 10px;
}

.artist_box a{
    text-decoration: none;
    color: white;
}

.artist_box a:hover img{
    filter: none;
    -webkit-filter: none;
}

.artist_box a:hover{
    filter:  drop-shadow(2px 2px 5px grey);
    -webkit-filter:  drop-shadow(2px 2px 5px rgb(80, 156, 133));
}

.artist_box a:hover .caption_artist{

    color: rgb(80, 156, 133);
}



#genre_panel{
    width: auto;
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

#genre_panel h3{
    position: fixed;
    margin-top:8px;
    left: 55%;
    font-size: 25pt;
}

.genre_box {
    display: inline-block;
    width: 170px;
    height: 120px;
    padding: 2%;
    text-align: center;
    position: relative;
    top:60px;

}

.genre_box img {
    filter: sepia(1);
    border-radius: 10px;
}

.genre_box a{
    text-decoration: none;
    color: white;
}

.genre_box a:hover img{
    filter: none;
    -webkit-filter: none;
}

.genre_box a:hover{
    filter:  drop-shadow(2px 2px 5px grey);
    -webkit-filter:  drop-shadow(2px 2px 5px rgb(80, 156, 133));
}

.genre_box a:hover .caption_genre{

    color: rgb(80, 156, 133);
}

/*smartphone / tablet look*/
@media only screen and (max-width: 600px) {
    
    #galleryList_panel{
    width: 120px;
    height: 500px;
    }
    
    #galleryList_panel ul{

    margin-top: 60px;
    height: 440px;
    width: 110px;
    overflow-y: auto;
    overflow-x: hidden;
    }

    
    #galleryList_panel h3{
        position: fixed;
        margin-top:10px;
        left: 8%;
        font-size: 20pt;
    }

    #artist_panel h3{
        position: fixed;
        left: 60%;
        font-size: 20pt;
    }

    #genre_panel h3{
        position: fixed;
        left: 60%;
        font-size: 20pt;
    }
}



