#loginBody{
    background-color: black;
    color: white;
    /*padding-left: 10%;*/
}

#loginBody h2{
    position: relative;
}

#logo{
    width:100px;
    position: relative;
}

#login_panel{
    width: auto;
    height: auto;
    position: relative;
    position: absolute;
    left:25%;
    top:10%;
}

.formBody{
    width: 500px;
    height: 550px;
    border: 1px solid rgb(80, 156, 133);
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    -o-border-radius:25px;
    border-radius:25px;
    position: relative;
}

.formBody .avatar{
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 20px;
}

.upperForm{
    padding-left: 20px;
    padding-right: 20px;
}

.upperForm input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
}

#loginBody .formBody .upperForm button {
    background-color: rgb(80, 156, 133);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#loginBody .formBody .upperForm button:hover {
    opacity: 0.8;
}

.bottomForm{
    padding-left: 20px;
    padding-right: 20px;
}

#loginBody .formBody .bottomForm #cancel {
    color: white;
    width: auto;
    padding: 10px 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    background-color: #f44336;
}

#loginBody .formBody .bottomForm #cancel:hover {
    opacity: 0.8;
}

#loginBody .formBody .bottomForm span{
    padding: 10px;
    margin-top: 10px;
    float: right;
}

#loginBody a:visited{
    color:white;
}

#loginBody a:link{
    color:white;
    text-decoration: none;
}

#loginBody  a:hover{
    color:rgb(80, 156, 133);
}

/*smartphone / tablet look*/
@media only screen and (max-width: 600px) {
    
.formBody{
    width: 480px;
    height: 550px;
    border: 1px solid rgb(80, 156, 133);
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    -o-border-radius:25px;
    border-radius:25px;
    position: relative;
}

#loginBody h2{
    position: relative;
    font-size: 12pt;
}
#logo{
    width:80px;
    position: relative;
}

#login_panel{
    width: auto;
    height: auto;
    position: relative;
    position: absolute;
    left:0%;
    top:0%;
}


}
