#registerBody{
    background-color: black;
    color: white;
    /*padding-left: 10%;*/
}

#registerBody h2{
    position: relative;
}

#logo{
    width:100px;
    position: relative;
}

#register_panel{
    width: auto;
    height: auto;
    position: relative;
    position: absolute;
    left:25%;
    top:0%;
}

.RegisterFormBody{
    width: 500px;
    height: 450px;
    border: 1px solid rgb(80, 156, 133);
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    -o-border-radius:25px;
    border-radius:25px;
    position: relative;
padding: 20px;
}

#registrationForm input[type=text]{
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
}

#registrationForm input[type=submit] {
    background-color: rgb(80, 156, 133);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#registrationForm input[type=submit]:hover {
    opacity: 0.8;
}

#cancel {
    color: white;
    width: auto;
    padding: 10px 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    background-color: #f44336;
}

#cancel:hover {
    opacity: 0.8;
}


#registerBody a:visited{
    color:white;
}

#registerBody a:link{
    color:white;
    text-decoration: none;
}

#registerBody  a:hover{
    color:rgb(80, 156, 133);
}

/*smartphone / tablet look*/
@media only screen and (max-width: 600px) {
    
.RegisterFormBody{
    width: 400px;
    height: 450px;
    border: 1px solid rgb(80, 156, 133);
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    -o-border-radius:25px;
    border-radius:25px;
    position: relative;
padding: 20px;
}

#registerBody h2{
    position: relative;
    font-size: 10pt;
}
#logo{
    width:60px;
    position: relative;
}

#register_panel{
    width: auto;
    height: auto;
    position: relative;
    position: absolute;
    left:0%;
    top:0%;
}


}