
#paintingBody{
  background-color: black;
  color: white;
}
.profile {
  position: relative;
  width: 45%;
}
 
.profile img {
  border: 20px solid #fff;
  border-top: 40px solid #fff;
  border-bottom: 40px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}
 
.profile h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  top: -20px;
  right: 155px;
  float: left;
  color: #888;
}
