#galleryBody #navigation a:hover:not(#index){
    background-color: rgb(80, 156, 133);
}

#galleryBody #navigation ul li:nth-child(2) { 
    background-color: rgb(255, 0, 0);
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

#navigation{grid-area: top;}
#navigation_mobile{grid-area: top;}
#galleryMap {grid-area: left-top; }
#gallery_panel {grid-area: left-bottom;}
#painting_panel{grid-area: right;}

#galleryBody {
  display: grid;
  grid-template-areas:
    'top top top top'
    'left-top left-top right right'
    'left-bottom left-bottom right right';
  grid-gap: 20px;
  background-color: black;
  color: white;
  padding: 10px;
}

#mapHeading{
  position: absolute;
  top:130px;
  left:170px;
  text-align: center;
}

#galleryMap{
  width:500px;
  height:500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 red, 0 6px 20px 0 rgb(80, 156, 133);
  margin-left: 10px;
  margin-top: 50px;

}


#gallery_panel{
    
    width: 80%;
    height: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 red, 0 6px 20px 0 rgb(80, 156, 133);
      margin-left: 50px;
      text-align: center;

}



a{
    text-decoration: none;
    color: white;
}

a:hover{
    cursor: pointer;
    color: rgb(80, 156, 133);
}


#painting_panel{
  
    width: auto;
    height: auto;
    text-align: center;
    float: right;
}

#p_heading{
  margin-left:25%;
  
}

#painting_table{
  /*border: 1px red dashed;*/
  /*padding: 5px;*/
  /*position: relative;*/
  /*left:60%;*/

}

#table_body{
  /*background-color: rgba(80, 156, 133,0.1);*/
  }
  


#btn_title, #btn_artist, #btn_year{
width:100px;
height: 20px;
color:white;
background-color: black; 
}

#btn_title:hover, #btn_artist:hover, #btn_year:hover{
background-color: rgb(80, 156, 133);
}


tbody tr td {
  width: 250px;
  height: 160px;
  text-align:center; 
}

.table_data td img{
position: relative;
/*padding:5px;*/
/*background-color: white;*/
border-radius: 10px;
box-shadow: 0 4px 8px 0 red, 0 6px 20px 0 rgb(80, 156, 133);
}

/*smartphone / tablet look*/
@media only screen and (max-width: 600px) {
  

tbody tr td {
  width: 60px;
  height: 160px;
}

  
}